<section>
    <div class="container">
      <nav>
        <div class="navbar flex align-items-center justify-content-between">
          <div class="logo">
            <h3>Body Crafts</h3>
          </div>
          <div class="links flex align-items-center">
            <ul class="flex align-items-center">
              <li>
                <a class="active" href="#">Home</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Plans</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>

            <a href="{% url 'login' %}">
              <div class="login">
                <h6>Login</h6>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </section>