{% extends 'base/home.html' %}

{% block content %}

<div class="Biling">

    <h2>Billing</h2>
    <div class="breadCrumbs flex align-items-center">
        <a href="{% url 'dashboard'  %}">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M5 22h14a2 2 0 0 0 2-2v-9a1 1 0 0 0-.29-.71l-8-8a1 1 0 0 0-1.41 0l-8 8A1 1 0 0 0 3 11v9a2 2 0 0 0 2 2zm5-2v-5h4v5zm-5-8.59l7-7l7 7V20h-3v-5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v5H5z" />
            </svg>
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
            width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
            <path fill="currentColor"
                d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512L340.864 831.872a30.592 30.592 0 0 0 0 42.752a29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z" />
        </svg>
        <a href="">Billing</a>
    </div>

    <div class="table card" style="padding:20px">

        <div class="flex align-items-center justify-content-between tableheader">
            <a href="{% url 'create_bill'%}">
                <div>
                    Create New Bill
                </div>
            </a>
            <div class="searchContainer">
                <input type="text" placeholder="Search by category" id="search" onkeyup="filterTable()">
            </div>
        </div>
        <div class="tableBody">

            <table id="table">
                <thead>
                    <th>
                        <div class="max-content">
                            S.N.
                        </div>
                    </th>
                    <th>
                        <div class="max-content">
                            Package Type
                        </div>

                    </th>
                    <th>
                        <div class="max-content">
                            Membership Start Date
                        </div>
                    </th>
                    <th>
                        <div class="max-content">
                            Billing Date
                        </div>
                    </th>
                    <th>
                        <div class="max-content">
                            Expiry Date
                        </div>
                    </th>
                    <th>
                        <div class="max-content">
                            Total Amount
                        </div>
                    </th>
                    <th>
                        <div class="max-content">
                            User Name
                        </div>
                    </th>
                    <th>
                        <div class="max-content">
                            Status
                        </div>
                    </th>
                    <th>
                        <div class="max-content">
                            Actions
                        </div>
                    </th>
                </thead>
                <tbody>

                    {% for bill in bill_list %}

                    <tr>
                        <td>
                            <div class="max-content">
                                {{bill.id}}
                            </div>
                        </td>
                        <td>
                            <div class="max-content">
                                {{bill.package_id.package_name}}
                            </div>
                        </td>
                        <td>
                            <div class="max-content">
                                {{bill.membership_start_date}}
                            </div>
                        </td>
                        <td>
                            <div class="max-content">
                                {{bill.billing_date}}
                            </div>
                        </td>
                        <td>
                            <div class="max-content">
                                {{bill.remainingDays}} days
                            </div>
                        </td>
                        <td>
                            <div class="max-content">
                                {{bill.totalPrice}}
                            </div>
                        </td>
                        <td id="username">
                            <div class="max-content">
                                {{bill.user_id.username}}
                            </div>
                        </td>
                        <td>
                            <div class="max-content">
                                {{bill.status}}
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'update_bill' bill.id %}"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em"
                                    height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2">
                                        <path
                                            d="m16.474 5.408l2.118 2.117m-.756-3.982L12.109 9.27a2.118 2.118 0 0 0-.58 1.082L11 13l2.648-.53c.41-.082.786-.283 1.082-.579l5.727-5.727a1.853 1.853 0 1 0-2.621-2.621Z" />
                                        <path d="M19 15v3a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h3" />
                                    </g>
                                </svg></a>
                            <a href="{% url 'delete_bill' bill.id %}"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em"
                                    height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                                    <path fill="currentColor"
                                        d="M6.5 7v4a.5.5 0 0 0 1 0V7a.5.5 0 0 0-1 0ZM9 6.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5ZM10 4h3a.5.5 0 0 1 0 1h-.553l-.752 6.776A2.5 2.5 0 0 1 9.21 14H6.79a2.5 2.5 0 0 1-2.485-2.224L3.552 5H3a.5.5 0 0 1 0-1h3a2 2 0 1 1 4 0ZM8 3a1 1 0 0 0-1 1h2a1 1 0 0 0-1-1ZM4.559 5l.74 6.666A1.5 1.5 0 0 0 6.79 13h2.42a1.5 1.5 0 0 0 1.49-1.334L11.442 5H4.56Z" />
                                </svg></a>
                        </td>
                    </tr>
                    {% empty %}

                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td style="font-size: 1rem;">
                            No Data Found
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td id="username">

                        </td>
                    </tr>

                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>


    {% block extra_js %}
    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].querySelectorAll("#username")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    {% endblock extra_js %}

</div>

{% endblock content %}