{% extends 'base/home.html' %}

{% block content %}

<div class="exercise">
    <div>
        {% for exercise in exercise_list %}
        <div style="display:flex;">
            <h5>{{exercise.id}} -- {{exercise.exercise_name}}------ {{exercise.exercise_category_id}}</h5>
            <a style="margin-left: 30px; text-decoration: underline;" href="{% url 'update_exercise' exercise.id %}">Edit</a>
            <a style="margin-left: 30px; text-decoration: underline;" href="{% url 'delete_exercise' exercise.id %}">Delete</a>
        </div>

        {% endfor %}
        <a style="margin-left: 30px; text-decoration: underline;" href="{% url 'create_exercise' %}">Create exercise</a>
    </div>
</div>

{% endblock content %}