<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Body Craft Gym</title>
</head>

<body>
    {% include 'base/sidebar.html' %}

    {% block modal %}
    {% endblock  %}
    <div class="mainBodycontent">
        <div class="dashNav flex align-items-center justify-content-between">
            <div class="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5" /></svg>
            </div>
            <div class="">
                <div class="profile">
                    <img 
                        src= "media/{{user.profile_image}}" 
                        style=" height: 60px;
                        width: 60px;
                        border-radius: 50%;"
                    >
                </div>
            </div>
        </div>
        <div class="maincontent">
            {% block content %}
            {% endblock  %}
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}
</body>

</html>